<div class="jumbotron">
  <h3 class="display-4">Edit ToDo item:</h3>
  <hr class="my-4">

  <div class="form-group">
    <label for="todo-to-add">To Do</label>
    <input type="text" id="todo-to-add" class="form-control" [value]="toDo.name" #name>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="defaultCheck1"
      [(ngModel)]="toDo.status">
    <label class="form-check-label" for="defaultCheck1">
      Done
    </label>
  </div>

  <p>
    <a
      [routerLink]="['/todo', 'edit', 3]"
      [queryParams]="{a: 'A', b: 'B'}"
      [fragment]="'Hello'"
    >
      Test Link
    </a>
    for item 3
  </p>
  <p>
    {{ paramA }} - {{ paramB }} - {{ fragment }}
  </p>
  <button class="btn btn-primary" (click)="hideForm()">Done</button>
  <button (click)="loadItem3()">Load item 3</button>
</div>
