<div class="row">
  <div class="col-6">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">To Do</th>
        <td scope="col">Category</td>
        <th scope="col">Completed</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        app-todo-list-item
        *ngFor="let todoListItem of toDoServices.todos; let i = index"
        [todo]="todoListItem"
        [index]="i"></tr>
      </tbody>
    </table>

    <button class="btn btn-primary" (click)="loadEditPage()">Load Edit page</button>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>

